* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

header {
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  color: #38bdf8;
  margin-top: 10px;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

.card span {
  display: block;
  margin-top: 10px;
  color: #94a3b8;
}

.contato {
  text-align: center;
}

.contato a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #0f172a;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.contato a:hover {
  background: #0ea5e9;
}